DOMAIN=source.example.uk
WOO_KEY=<woo-api-key>
WOO_SECRET=<woo-api-secret>
WP_SOURCE_BASE_URL=https://source.example.uk
GATSBY_WEBSITE_URL=https://example.uk
WP_GRAPHQL_ENDPOINT_URL=https://source.example.uk/graphql
HTTPBASICAUTH_USERNAME=<ht-auth-user>
HTTPBASICAUTH_PASSWORD=<ht-auth-pass>